<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ohrm.testcases.VacanciesTest"/>
      <class name="com.ohrm.testcases.ConfigurationTest"/>
      <class name="com.ohrm.testcases.AddEmployeeTest"/>
      <class name="com.ohrm.testcases.LoginPageTest"/>
      <class name="com.ohrm.testcases.PIMTest"/>
      <class name="com.ohrm.testcases.RecruitmentTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
